@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.userTable{
@apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}
.userTable td{
    @apply border text-base text-center
}
.footer-text{
    font-family: "Kalam", cursive;
    font-weight: 500;
   
}
.footer-tex pre{
    font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
}
@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: purple; }
    100% { color: red; }
}

.username {
    font-size: 48px;
    animation: colorChange 4s infinite;
}
@keyframes borderColorChange {
    0% { border-color: red; }
    25% { border-color: blue; }
    50% { border-color: green; }
    75% { border-color: purple; }
    100% { border-color: red; }
}

.border-animated {
    font-size: 4px;
    padding: 1px;
    border: 2px solid;
    display: inline-block;
    box-shadow: 0 0 2px 1px red;

    animation: borderColorChange 4s infinite;
}

@keyframes borderColorChange {
    0% { border-color: red; }
    25% { border-color: blue; }
    50% { border-color: green; }
    75% { border-color: purple; }
    100% { border-color: red; }
}

@keyframes textColorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: purple; }
    100% { color: red; }
}

@keyframes scaleUpDown {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

.combined-animated {
    font-size: 3px;
    padding: 1px;
    border: 2px solid;
    display: inline-block;
    animation: borderColorChange 4s infinite, textColorChange 4s infinite, scaleUpDown 4s infinite;
}

.pnf {
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   min-height: 65vh;
 }
 .pnf-404{
     font-size: 100px;
     font-weight: 700;
     font-weight: normal;
 }
 .pnf-oopx{
 font-size:  2rem;
 }
 .pnf-btn{
     padding: 0.3rem 0.8rem;
     background-color: black;
     color: aliceblue;
     border-radius:5px;
 }
 .pnf-btn:hover{
     background-color: aliceblue;
     color: black;
 
 }
 .popup{
    z-index: 10;
   top: 20%;
   left: 50%;
   transform: translate(-50%);
 }
 .popupBack{
    background: white;
    opacity:0.4;
 }